{% extends "layout.html" %}
{% block scripts %}
<script>
window.stripe_key = "{{ _cfg("stripe-publish") }}";
window.avatar = "{{ avatar }}";
window.your_name = "{{ _cfg("your-name") }}";
window.default_amount = {{ _cfg("default-amount") }};
window.default_type = "{{ _cfg("default-type") }}";

// Array used for translation of index.js sentences. See contrib/fr/overrides/index.html for example use
const i18n = {
    "Monthly Donation": "Monthly Donation",
    "One-time Donation": "One-time Donation",
    "Donate ": "Donate ",
    "Submitting...": "Submitting...",
    "Donate": "Donate"
};
// End of translation of index.js

const currency = "{{ _cfg("currency") }}";

{% if user %}
window.email = "{{user.email}}";
{% endif %}
</script>
<script src="//checkout.stripe.com/checkout.js"></script>
<script src="static/index.js"></script>
{% endblock %}
{% block body %} 
<div class="well">
    <div class="container clearfix">
      <img
        class="pull-right logo"
        src="{{ avatar }}"/>
      <h1>Donate to {{ _cfg("your-name") }}</h1>
    </div>
</div>
<div class="container" style="text-align: justify">
    {% include "summary.html" %}
</div>
<noscript>
    <div class="container">
        <div class="alert alert-danger">
            This page requires Javascript. It's necessary to send your credit card number to <a href="https://stripe.com/">Stripe</a> directly, so you don't need to trust me with it.
        </div>
    </div>
</noscript>
<div class="container text-center hidden" id="thanks">
    {% include "post-donation-message.html" %}
    <form id="new-donor-password" class="hidden" action="{{root}}/password-reset" method="POST">
        <p>Set a password now if you want to manage your donations later:</p>
        <input type="password" placeholder="Password" name="password" />
        <input type="hidden" name="token" id="reset-token" />
        <button class="btn btn-primary btn-sm">Submit</button>
    </form>
</div>
<div class="container text-center" id="donation-stuff">
    <h3>How much?</h3>
    <div>
        <div class="buttonbar amounts" role="group" aria-label="...">
          {% for amt in _cfg("default-amounts").split(" ") %}
          <button data-amount="{{ amt }}" type="button"
            class="{{"active" if _cfg("default-amount") == amt else ""}}"
            >{{ currency.amount(amt) }}</button>
          {% endfor %}
          <button data-amount="custom" type="button" class="button-spicy">Custom</button>
        </div>
    </div>
    <div class="hidden" id="custom-amount" style="margin-top: 20px;">
        <span class="input-addon">{{ currency.symbol }}</span><input id="custom-amount-text" type="text" value="13.37" placeholder="Amount" size="6" />
    </div>
    <div style="margin-top: 16px; text-align: justify;">
        Due to payment processor fees, I will actually receive <strong>$<span id="after-fees">0.00</span></strong>, after a 2.9% + 30¢ ($<span id="fee">0.00</span>) fee; that's <span id="fee-pct-wrapper"><span id="fee-pct">0</span>% of your donation</span>.* The fees go to Stripe.
        {% if _cfg("patreon-campaign") or _cfg("opencollective-campaign") %}
        <br/><br/>
        At the very least, that's still better than {%if patreon_count and oc_count %}Patreon and OpenCollective's{%elif patreon_count%}Patreon's{%elif oc_count%}OpenCollective's{%endif%} additional 5% fee on top of Stripe's fee. {%if _cfg("liberapay-campaign")%}If you can figure out how to use the damned thing, it may be better to support me on <a href="https://liberapay.com/{{ _cfg("liberapay-campaign")}}">Liberapay</a> if you already support others there, to smooth the fees out.{%endif%}
        {%endif%}
    </div>
    <h3>How often?</h3>
    <div>
        <div class="buttonbar frequencies" role="group" aria-label="...">
          <button data-frequency="once" type="button"
            class="btn btn-default {{"active" if _cfg("default-type")=="once" else ""}}"
          >Once</button>
          <button data-frequency="monthly" type="button"
            class="btn btn-default {{"active" if _cfg("default-type")=="monthly" else ""}}"
          >Monthly</button>
        </div>
    </div>
    {% if len(projects) > 1 %}
    <h3>What for?</h3>
    <select id="project" name="project" style="width: calc(100% - 32px)">
        <option value="null"
            {{ "selected" if selected_project == None else "" }}>Nothing in particular</option>
        {% for project in projects %}
        <option value="{{ project.id }}"
            {{ "selected" if selected_project == project.id else "" }}>{{ project.name }}</option>
        {% endfor %}
    </select>
    {% endif %}
    <br/><br/>
    <div style="margin-bottom: 16px">
        <input type="text" id="comments" class="form-control" placeholder="Want to say anything?" maxlength="512" style="width: calc(100% - 32px); display: initial !important" />
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="alert alert-danger hidden" id="errors">
                <p></p>
            </div>
            <button class="button-happy" id="donate-button">Donate</button>
        </div>
    </div>
</div>
{% include "goal.html" %}
<hr />
<div class="container text-center">
    {% if not user %}
    <p>
        Been here before? <a href="login">Log in</a> to view your donation
        history, edit recurring donations, and so on.
    </p>
    {% elif user.admin %}
    <p>
        Want to go to <a href="admin">the admin panel</a>?
    </p>
    {% endif %}
    <p>
        <small>* This is just an estimate; the final fee may be different.</small>
    </p>
    </p>
    <p>
        <small class="text-muted">
            Powered by <a href="https://github.com/ddevault/fosspay">fosspay</a>, with some patches from <a href="https://gitlab.kokakiwi.net/transposees/transpay">transpay</a>.
            <br/>
            Modified by <a href="https://unascribed.com">unascribed</a> to add some new features and remove Bootstrap styling.
        </small>
    </p>
</div>
{% endblock %}
