{% extends "layout.html" %}
{% block body %} 
<div class="well">
    <div class="container">
        <div class="pull-right">
	        Logged in as {{user.email}}
            <a href=".."><button class="button-happy">Donate again</button></a>
            <form style="display: inline-block" method="POST" action="logout"><button>Log out</button></form>
        </div>
        <div class="clearfix"></div>
        <h1>Your Donations</h1>
    </div>
</div>
<div class="container">
    {% if any(recurring(user)) %}
    {% set something = true %}
    <h2>Monthly Donations</h2>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 10%"></th>
                <th>Date</th>
                <th>Amount</th>
                <th>Purpose</th>
            </tr>
        </thead>
        <tbody>
        {% for donation in recurring(user) %}
            <tr>
                <td>
                    <form method="POST" action="{{root}}/cancel/{{ donation.id }}">
                        <button type="submit" class="button-spicy">Cancel</button>
                    </form>
                </td>
                <td>{{ donation.created.strftime("%Y-%m-%d") }}</td>
                <td>{{ currency.amount("{:.2f}".format(donation.amount / 100)) }}</td>
                <td>{{ donation.project.name if donation.project else "Not specified" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if any(one_times(user)) %}
    {% set something = true %}
    <h2>One-time Donations</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
        {% for donation in one_times(user) %}
            <tr>
                <td>{{ donation.created.strftime("%Y-%m-%d") }}</td>
                <td>{{ currency.amount("{:.2f}".format(donation.amount / 100)) }}</td>
                <td>{{ donation.project.name if donation.project else "Not specified" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if not something %}
    <p>
        There's nothing here! :(
    </p>
    {% endif %}
</div>
{% endblock %}
